In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import pyreadstat

In [6]:
df, meta = pyreadstat.read_sav("data/W1 Merged Data/Wave.1_Data/Japan/Japan v4.2.sav")
df.shape

(1418, 277)

In [8]:
smalldf = df[["se002", 'se004', 'se005', 'se009', 'se003a', 'country', 'q007', 'q008', 'q009', 'q010', 'q006', 'q098', 'q128', 'q005', 'q027', 'q028', 'q105', 'q106', 'q121', 'q123', 'q127']]
smalldf

,se002,se004,se005,se009,se003a,country,q007,q008,q009,q010,...,q098,q128,q005,q027,q028,q105,q106,q121,q123,q127
0,2.0,1.0,8.0,NaN,59.0,1.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,2.0,NaN,4.0,1.0,3.0,4.0,2.0
1,2.0,1.0,7.0,NaN,59.0,1.0,4.0,2.0,NaN,NaN,...,4.0,NaN,2.0,2.0,101.0,5.0,NaN,3.0,4.0,1.0
2,2.0,3.0,2.0,1.0,73.0,1.0,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,2.0,101.0,5.0,4.0,NaN,4.0,2.0
3,2.0,6.0,8.0,NaN,25.0,1.0,3.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,NaN,4.0,2.0,3.0,4.0,1.0
4,1.0,1.0,6.0,2.0,88.0,1.0,3.0,NaN,NaN,NaN,...,3.0,3.0,4.0,NaN,NaN,5.0,5.0,4.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,2.0,1.0,7.0,1.0,58.0,1.0,3.0,2.0,1.0,2.0,...,3.0,4.0,2.0,2.0,101.0,4.0,4.0,4.0,4.0,2.0
1414,1.0,1.0,NaN,1.0,70.0,1.0,3.0,3.0,3.0,3.0,...,2.0,2.0,2.0,2.0,101.0,5.0,4.0,4.0,4.0,1.0
1415,1.0,6.0,3.0,NaN,55.0,1.0,NaN,2.0,3.0,1.0,...,2.0,NaN,2.0,2.0,104.0,5.0,4.0,4.0,4.0,1.0
1416,1.0,6.0,9.0,2.0,45.0,1.0,3.0,3.0,2.0,2.0,...,3.0,4.0,3.0,2.0,NaN,4.0,4.0,4.0,3.0,4.0
1417,1.0,1.0,3.0,1.0,36.0,1.0,3.0,3.0,3.0,3.0,...,NaN,4.0,3.0,1.0,NaN,5.0,4.0,4.0,4.0,NaN